# creating a Function

In [2]:
def my_function():
    print("hello from a function")
my_function()

hello from a function

# Arguments pass

In [56]:
def my_function(fname):
    print(fname  +  "refsnes")
    
my_function("email")
my_function("number")
my_function("id")

emailrefsnes
numberrefsnes
idrefsnes

# Number of Arguments

In [8]:
def my_function(name,id,department):
    print("frist name is :", name)
    print(" id number is : ", id)
    print("department is ", department )
          
    
my_function("hasib",232400009," CSE")

frist name is : hasib
 id number is :  232400009
department is   CSE

In [26]:
def my_function(name,id,department):
    print("frist name is :", name)
    print ("department and id is:"+ department , id)
          
    
my_function("hasib",232400009," CSE")

frist name is : hasib
department and id is: CSE 232400009

# Arbitrary arguments,* args

In [23]:
def my_function(*kids):
    print("all cousine list is :", kids[0:2])
my_function("hasib","selim","tanvi","foisal","taniya","avi")

all cousine list is : ('hasib', 'selim')

In [27]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [34]:
def my_function(**kids):
    print("my name is : " + kids['my'])
my_function(my='hasib',her='baby')

my name is : hasib

# default parameter value

In [35]:
def my_function(country = "Norway"):
    
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

# Passing a List as an Argument

In [36]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

# Return Values

In [37]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# The pass Statement

In [38]:
def myfunction():
  pass

In [ ]:
# pass = “এই জায়গাটা আপাতত ফাঁকা রাখলাম, পরে কোড লিখব”

# Positional-Only Arguments

In [39]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [ ]:
# / মানে হলো function বলছে “এই parameter শুধু সরাসরি value দিয়ে দিতে হবে, নাম দিয়ে নয়”।

In [40]:
def my_function(x, /):
  print(x)

my_function(x = 3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

# Keyword-Only Arguments

In [41]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

In [43]:
def my_function(*,x):
  print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

#  Combine Positional-Only and Keyword-Only

In [45]:
def my_function(a,b,/,*, c,d):
    print(a+b+c+d)
my_function(5,6,c=4,d=67)

82

# Recursion

In [53]:
 def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

In [55]:
def recursion(k):
    if (k>0):
        result=k + recursion(k-1)
        print(result)
    else:
        result=0
    return result
print("recursion Example results :")
recursion(6)

recursion Example results :
1
3
6
10
15
21

21